<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav class="flex items-center justify-between flex-wrap bg-neutral-900 p-6">
        <div class="flex flex-wrap items-center flex-shrink-0 text-white mr-6">
            <a href="/" class="imagen_logo">
                <img class="logo" src="static.assets/legacy-games.png" style="width:5rem; height: 5rem;" th:src="@{assets/legacy-games.png}">
            </a>
            <a href="/" class="text-logo">
                <span class="font-semibold ml-4 text-2xl text-teal-200 border-teal-400 tracking-tight">Legacy Games</span>

            </a>
        </div>
        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <div>
                <section class="filter by category">
                <!--Botones filtrado por categoría-->
                    <a class="bg-transparent block mt-4 lg:inline-block lg:mt-0 text-teal-200 font-bold hover:text-white mr-4" href="/?category=Fantasy">Fantasy</a>
                    <a class="bg-transparent block mt-4 lg:inline-block lg:mt-0 text-teal-200 font-bold hover:text-white mr-4" href="/?category=Sci-fi">Sci-fi</a>
                    <a class="bg-transparent block mt-4 lg:inline-block lg:mt-0 text-teal-200 font-bold hover:text-white mr-4" href="/?category=Sports">Sports</a>
                </section>
            </div>

            <div>
                <section>
                <!--Botones filtrado por PEGI-->
                    <a class="bg-transparent block mt-4 lg:inline-block lg:mt-0 text-teal-200 font-bold hover:text-white mr-4" href="/?pegi=3">3</a>
                    <a class="bg-transparent block mt-4 lg:inline-block lg:mt-0 text-teal-200 font-bold hover:text-white mr-4" href="/?pegi=7">7</a>
                    <a class="bg-transparent block mt-4 lg:inline-block lg:mt-0 text-teal-200 font-bold hover:text-white mr-4" href="/?pegi=12">12</a>
                    <a class="bg-transparent block mt-4 lg:inline-block lg:mt-0 text-teal-200 font-bold hover:text-white mr-4" href="/?pegi=16">16</a>
                    <a class="bg-transparent block mt-4 lg:inline-block lg:mt-0 text-teal-200 font-bold hover:text-white mr-4" href="/?pegi=18">18</a>
                </section>
            </div>

        </div>
        <div class="flex flex-end">
            <button type="submit">
                <a class="bg-transparent block mt-4 lg:inline-block lg:mt-0 text-teal-200 font-bold hover:text-white mr-4" href="/add">Add</a>
                <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white font-bold border-white hover:border-transparent hover:text-teal-500 hover:font-bold hover:bg-white mt-4 lg:mt-0">Login</a>
            </button>
        </div>

    </nav>
</header>
</body>
</html>