<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<header>
    <nav class="flex items-center justify-between flex-wrap bg-neutral-900 p-6">
        <div class="flex items-center flex-shrink-0 text-white mr-6">
            <a href="/" class="imagen_logo">
                <img class="logo" src="static.assets/legacy-games.png" style="width:5rem; height: 5rem;" th:src="@{assets/legacy-games.png}">
            </a>
            <span class="font-semibold ml-4 text-xl text-teal-200 border-teal-400 tracking-tight">Legacy Games</span>
        </div>
        <div class="block lg:hidden">
            <button class="flex items-center px-3 py-2 border rounded text-teal-200 border-teal-400 hover:text-white hover:border-white">
                <svg class="fill-current h-3 w-3" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><title>Menu</title><path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z"/></svg>
            </button>
        </div>
        <div class="w-full block flex-grow lg:flex lg:items-center lg:w-auto">
            <a class="bg-transparent block mt-4 lg:inline-block lg:mt-0 text-teal-200 hover:text-white mr-4" href="/add">Add</a>
            <select id="category" class="block appearance-none w-sm bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                <option value="" disabled selected>Filter by category</option>
                <option class="text-teal-700 font-bold" th:value="Fantasy">Fantasy</option>
                <option class="text-teal-700 font-bold" th:value="Sci-Fi">Sci-Fi</option>
                <option class="text-teal-700 font-bold" th:value="Sports">Sports</option>
            </select>


            <div>
              <!--  <button type="submit">
                    <a href="#" class="inline-block text-sm px-4 py-2 leading-none border rounded text-white border-white hover:border-transparent hover:text-teal-500 hover:bg-white mt-4 lg:mt-0">Login</a>
                </button>-->

            </div>
        </div>
    </nav>
</header>
</body>
</html>