
#price.linethrough {
    text-decoration: line-through;
    text-decoration-color: red;
}

.tarjeta{
    width: 80%;
    display: block;
    align-items: center;
    justify-content: center;
    -webkit-box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.24);
    box-shadow: 0px 0px 16px 6px rgba(0,0,0,0.24);
}