<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/head"></head>
<body>
<header th:replace="fragments/header"></header>
<section class="container">
    <h1 class="font-semibold ml-4 text-xl text-neutral-900 border-neutral-900 tracking-tight" th:text="${title}"></h1>
    <div class="w-full md:flex md:justify-center mb-6">
        <form class="bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4 ring-offset-2" th:action="@{/games/add}" th:object="${game}" method="post">
            <div class="mb-4">
                <input type="hidden" th:field="*{id}">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="title">
                    Title
                </label>
                <input th:field="*{title}" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="title"
                       placeholder="Enter title">
            </div>
            <div class="mb-4">
                <div class="inline-block relative w-full">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="platform">
                        Platform
                    </label>
                    <select th:field="*{platform}" id="platform" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                        <option th:value="${game.platform}"></option>
                        <option th:value="Wii">Wii</option>
                        <option th:value="X360">X360</option>
                        <option th:value="PS3">PS3</option>
                        <option th:value="GB">GB</option>
                        <option th:value="DS">DS</option>
                        <option th:value="SNES">SNES</option>
                        <option th:value="NES">NES</option>
                        <option th:value="GBA">GBA</option>
                        <option th:value="3DS">3DS</option>
                        <option th:value="N64">N64</option>
                        <option th:value="PS">PS</option>
                        <option th:value="XB">XB</option>
                        <option th:value="PC">PC</option>
                        <option th:value="PSP">PSP</option>
                        <option th:value="2600">2600</option>
                    </select>
                    <div class="pointer-events-none absolute inset-y-0 mt-6 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                        </svg>
                    </div>
                </div>
                <div class="inline-block relative w-full">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="category">
                        Category
                    </label>
                    <select th:field="*{category}" id="category" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                        <option th:value="${game.category}"></option>
                        <option th:value="Fantasy">Fantasy</option>
                        <option th:value="Sports">Sports</option>
                        <option th:value="Sci-fi">Sci-fi</option>

                    </select>
                    <div class="pointer-events-none absolute inset-y-0 mt-6 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                        </svg>
                    </div>
                </div>
                <div class="inline-block relative w-full">
                    <label class="block text-gray-700 text-sm font-bold mb-2" for="pegi2">
                        Pegi
                    </label>
                    <select th:field="*{pegi}" id="pegi2" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded shadow leading-tight focus:outline-none focus:shadow-outline">
                        <option th:value="${game.pegi}"></option>
                        <option th:value="3">Pegi-3</option>
                        <option th:value="7">Pegi-7</option>
                        <option th:value="12">Pegi-12</option>
                        <option th:value="16">Pegi-16</option>
                        <option th:value="18">Pegi-18</option>

                    </select>
                    <div class="pointer-events-none absolute inset-y-0 mt-6 right-0 flex items-center px-2 text-gray-700">
                        <svg class="fill-current h-4 w-4" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20">
                            <path d="M9.293 12.95l.707.707L15.657 8l-1.414-1.414L10 10.828 5.757 6.586 4.343 8z"></path>
                        </svg>
                    </div>
                </div>
                <label class="block text-gray-700 text-sm font-bold mb-2" for="year">
                    Year
                </label>
                <input required th:field="*{year}" type="text"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="year" placeholder="Enter year">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="price">
                    Price
                </label>
                <input required th:field="*{price}" type="text"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="price" placeholder="Enter price">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="discount">
                    Discount
                </label>
                <input required th:field="*{discount}" type="text"
                       class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"
                       id="discount" placeholder="Enter discount">
            </div>
            <div class="mb-4">
                <label class="block text-gray-700 text-sm font-bold mb-2" for="imageUrl">
                    Image
                </label>
                <input required th:field="*{imageUrl}" type="text" class="shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" id="imageUrl"
                       placeholder="Enter image link">
            </div>
            <div class="flex items-center justify-between">
                <input type="submit" class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" value="Save"/>
            </div>
        </form>
    </div>
</section>
<footer th:replace="fragments/footer"></footer>

</body>
</html>