<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">


<head th:replace="fragments/head"></head>
<body>

<header th:replace="fragments/header" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
</header>
<section class="container m-2 mx-auto">
    <h2 class="font-semibold ml-4 text-4xl m-3 text-neutral-900 border-neutral-900 tracking-tight"
        th:text="${title}"></h2>

    <div class="grid grid-cols-4 gap-3 mb-20 object-top place-items-center">
        <div th:each="game: ${games}" class="max-w-sm max-h-sm rounded overflow-hidden tarjeta">
            <div class="img-container">
            <img class="w-full game-picture" th:src="${game.imageUrl}"></div>

            <div class="px-5 py-3.5">

                  <span id= "price" th:text="${game.price} + '€'" th:classappend="${game.discounted? 'linethrough':''}"
                        class="inline-block bg-yellow-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                </span>

                <span id="discount" th:text="${game.discount} + '% Off' " th:if="${game.discounted}"
                      class="inline-block bg-yellow-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                </span>
                <span id="priceWithDiscount" th:text="${game.priceWithDiscount} + '€'" th:if="${game.discounted}"
                      class="inline-block bg-orange-400 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">
                </span>
                <div class="font-bold text-base mb-2">
                    <h5 th:text="${game.title}"></h5>
                </div>
                <div class="platf-year">
                    <p th:text="${game.platform}" class="text-gray-700 text-base"></p>
                    <p th:text="${game.year}" class="text-gray-700 text-base"></p>
                </div>
                <div class="cat-y-pegi">
                    <span th:text="${game.contentDescriptor}" class="inline-block bg-gray-200 rounded-full px-2 py-1 text-xs font-semibold text-gray-700 mr-2 mb-2"></span>
                    <span th:text="${game.category}" class="inline-block bg-gray-200 rounded-full px-3 py-1 text-xs font-semibold text-gray-700 mr-2 mb-2"></span>
                </div>

            </div>
            <!--  <div class="px-6 pt-4 pb-2">
                  <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
              </div> -->
            <div class="card-body text-center pb-5">
                <a class=" bg-emerald-800 hover:bg-emerald-300 text-white font-bold py-1 px-4 w-20 rounded content-center"
                    th:href="'/games/add/'+${game.id}" sec:authorize="isAuthenticated()">Edit</a>
                <a class="bg-rose-700 hover:bg-rose-400 text-white font-bold py-1 px-4 w-20 rounded content-center"
                   th:href="'/games/delete/'+${game.id}"sec:authorize="isAuthenticated()">Delete</a>
            </div>
        </div>
    </div>

</section>
<footer th:replace="fragments/footer"></footer>


</body>
</html>