<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">



<head th:replace="fragments/head"></head>
<body>

<header th:replace="fragments/header"></header>
<section class="container">
    <h2 class="font-semibold ml-4 text-xl text-neutral-900 border-neutral-900 tracking-tight">Games Inventory</h2>

    <div class="max-w-sm rounded overflow-hidden shadow-lg">
        <img class="w-full" src="/img/card-top.jpg" alt="Sunset in the mountains">
        <div class="px-6 py-4">
            <div class="font-bold text-xl mb-2">The Coldest Sunset</div>
            <p class="text-gray-700 text-base">
                Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptatibus quia, nulla! Maiores et perferendis eaque, exercitationem praesentium nihil.
            </p>
        </div>
        <div class="px-6 pt-4 pb-2">
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#photography</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#travel</span>
            <span class="inline-block bg-gray-200 rounded-full px-3 py-1 text-sm font-semibold text-gray-700 mr-2 mb-2">#winter</span>
        </div>
    </div>










    <div class="d-flex flex-row flex-sm-wrap justify-content-between align-items-center bd-highlight mb-3">
        <div th:each="game: ${games}" class="card" style="width: 18rem;">
            <img th:src="${game.imageUrl}" class="card-img-top" alt="cover">
            <div class="card-body">
                <h5 th:text="${game.title}" class="card-title"></h5>
            </div>
            <ul class="list-group list-group-flush">
                <li th:text="${game.platform}" class="list-group-item"></li>
                <li th:text="${game.year}" class="list-group-item"></li>
                <li th:text="${game.id}" class="list-group-item" style="display:none;"></li>
            </ul>
            <div class="card-body">
                <a class="btn btn-success btn-sm" th:href="'/games/add/'+${game.id}">Edit</a>
                <a class="btn btn-danger btn-sm" th:href="'/games/delete/'+${game.id}">Delete</a>
            </div>
        </div>
    </div>

</section>
<footer th:replace="fragments/footer"></footer>



</body>
</html>